#main-description {
    color: blue;
}

#card-table {
    background-color: black;
    height: 75vh;
    width: 100%;
}

#card-section {
    background-color: green;
    min-height: 50vh;
    min-width: 50vw;
    display: flex;
    align-items: center;
}

.vp-wide #card-section {
    width: 66%;
    height: 100%;
    float: left;
}

.vp-tall #card-section {
    width: 100%;
    height: 60%;
}

#dealer-section {
    background-color: lightgreen;
    min-height: 25vh;
    min-width: 25vw;
}

.vp-wide #dealer-section {
    width: 33%;
    height: 100%;
    float: left;
}

.vp-tall #dealer-section {
    width: 100%;
    height: 25%;
}

.playing-card {
    float: right;
    padding: 1%;
    max-width: var(--card-max-width);
    max-height: var(--card-max-height);
}

#card-spades-7 {
    float: left;
}

#left-card-section {
    width: 85%;
    float: left;
}

#right-card-section {
    width: 14%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}